.ele {
    display: flex;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    -webkit-animation: fade 1s linear;
    animation: fade 1s linear;
    animation-fill-mode: forwards;
}

.loader {
    margin: auto;
    border: 8px solid white;
    border-radius: 50%;
    border-top: 8px solid #f4e3be;
    border-bottom: 8px solid #f4e3be;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes fade {
    0% {
        -webkit-background-color: rgba(0, 0, 0, 0);
    }
    100% {
        -webkit- background-color: rgba(0, 0, 0, 0.6);
    }
}

@keyframes fade {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
