#static {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 55px;
    z-index: 2;
    background-color: #f4e3be;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#hover {
    position: fixed;
    height: 100vh;
    min-width: 150px;
    z-index: 1;
    background-color: #f4e3be;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 20px 20px 10px;
    left: -190px;
    transition: 0.3s linear;
}

/*Small devices (landscape phones, less than 768px)*/

@media (max-width: 767px) {
    #static {
        display: none;
    }

    #hover {
        position: fixed;
        height: 100vh;
        min-width: 150px;
        z-index: 1;
        background-color: #f4e3be;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        padding: 20px 33px 10px;
        left: -232px;
        transition: 0.3s linear;
    }
}
