body {
    background-repeat: no-repeat;
    background-size: cover;
}

#nav {
    padding-left: 130px;
    padding-right: 130px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

#holder {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

#content {
    color: white;
    text-align: center;
    margin: auto;
}

#content h1 {
    font-size: 90px;
}

#content p {
    font-size: 20px;
}

/*Small devices (landscape phones, less than 768px)*/

@media (max-width: 767px) {
    #nav {
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    #content h1 {
        font-size: 50px;
    }

    #content p {
        font-size: 20px;
    }
}
