body {
    background-repeat: no-repeat;
    background-size: cover;
}

#nav {
    padding-left: 70px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

#info {
    padding: 20px;
    text-align: center;
}

#content {
    padding: 60px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: #f4e3be;
    border-radius: 20px;
}

#holder {
    background-color: rgba(0, 0, 0, 0.2);
}

#req {
    background-color: rgba(244, 227, 190, 0.6);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

textarea {
    resize: none;
}

#footer {
    min-height: 50px;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*Small devices (landscape phones, less than 768px)*/

@media (max-width: 767px) {
    #nav {
        padding-left: 20px;
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    #info {
        padding-left: 40px;
        text-align: center;
    }

    #info h1 {
        font-size: 40px;
    }

    #req {
        margin-left: 10px;
    }
    #content {
        padding: 60px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        background-color: #f4e3be;
        border-radius: 0;
    }

}
